{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
  form {
    background: lavender;
    margin: auto;
    padding: 50px;
    text-align: center;
    height: 100%;
}

button, select, .textbox input,button {
    overflow: visible;
    margin: 5px;
    width: 275px;
    border: 2px solid;
    border-radius: 5px;
}

</style>


<div class="Metric Units">
<form method="POST">
  {% csrf_token %}

  <h1>Calories Calculator</h1>

  <div class="textbox">
  <input type="number" min="5" max="120" name="Age" placeholder="Age" required> <br>
  
  <input type="number" min="1" name="Weight" placeholder="Weight in KG" required><br>
  
  <input type="number" min="1" name="Height" placeholder="Height in cm"required><br>

</div>

<div class="radio-buttons">
  <input type="radio" id="male" name="gender" value="male" required>
  <label for="male">Male</label>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
</div>
  <select name="Activity">
  
    <option value="1">Light Activity</option>
    <option value="2">Moderate Activity 3-4 days of excercise</option>
    <option value="3">Extreme workouts 5-6 days a week</option>
  
  </select>
  <br>
  
<select name="CalType">
  <option value="cutting">Loosing Weight</option>
  <option value="gaining">Gaining Muscle</option>
</select><br>
  
  <input type="submit" class="btn btn-primary"> <br>

 <h3> BMR : {{BMR}} <br>
Calories : {{Calorie}} <br></h3>
  </form>

</div>
